/* Margins setup */
.top-space-5 { margin-top: 5px;}
.top-space-10 { margin-top: 10px;}
.top-space-20 { margin-top: 20px;}
.top-space-40 { margin-top: 40px;}
.bottom-space-5 { margin-bottom: 5px;}
.bottom-space-10 { margin-bottom: 10px;}
.bottom-space-20 { margin-bottom: 20px;}
.bottom-space-40 { margin-bottom: 40px;}
.left-right-10 {margin-left:10px;margin-right:10px;}

.top-pad-5 {padding-top: 5px;}
.top-pad-10 {padding-top: 10px;}
.top-pad-20 {padding-top: 20px;}
.top-pad-40 {padding-top: 40px;}

.bottom-pad-5 {padding-bottom: 5px;}
.bottom-pad-10 {padding-bottom: 10px;}
.bottom-pad-20 {padding-bottom: 20px;}
.bottom-pad-40 {padding-bottom: 40px;}

/* CONTENT */
.content{
    font-size:1.2em;
    margin: 0 auto;
    color:#000;
    width: 100%;
    padding:2% 0;
}
.content *{
    max-width:940px;
}

/* Container setup */
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}
.container.w960 {
    max-width: 940px;
    padding:0 10px;
}
.container.w1024 {
    max-width: 1020px;
}
.container:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}